.boxTitle{
margin-top: 150px;
}

.text{
	font-size: 3em;
	background-color: #F7D7A6;
	border-radius: 20px;
	max-width: 800px;
    height: 100px;
	justify-content: center;
	display: flex;
	align-items: center;
	margin: 0 auto 20px;
}

.guide{
	display: flex;
	justify-content: center;
}

.btnMenu{
	font-size: 2.6em;
	background-color: #D18447;
	width: 350px;
	height: 70px;
	border-radius: 20px;
	position: relative;
	margin: 20px auto 0;
	line-height: 70px;
}

.btnMenu a{
	color: #3d1313;
	text-decoration: none;
}